// Rang o'zgaruvchilari
$primary-color: #0F1624; // Asosiy fon rangi
$text-color: #FFFFFF; // Matn rangi
$accent-color: #4FD1C5; // Aksent rangi
$scrollbar-color: rgb(0, 87, 130); // Scrollbar rangi
$scrollbar-hover-color: #0688fa; // Scrollbar hover rangi 